@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.card-detail {
  margin: 20px;
  background-color: aliceblue;
  width: 300px;
  height: 430px;
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  border-style:outset;
  border-color: rgb(240, 185, 4);
  border-width: 7px;
}


.card-detail:hover{
  background-color: #d7dfe9;    
}

.image-card-container{
  display: flex;
  width: 300px;
  border-radius: 18px;
  height: 200px;
  overflow: hidden;
}

.image-card{
  align-self: center;
  border-radius: 20px;
}

.info-card{
  display: flex;
  flex-direction: column;
  padding: 3px;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
}

.recipe-name-card{
  display: flex;
  margin:0;
  align-items: center;
  justify-content: center;
}

.diet-card{
  display: flex;
  margin:0;
  padding: 0;
  align-items: center;
  justify-content: center;
}