
.paginado-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 150px 10px 150px;
}

.li-paginado{
    list-style: none;

}

.button-paginado{
    background: orange;
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
   
} 





