.contains-search{
    display:flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 20px;
}

.input-search{
    padding: 6px;
    margin: 5px;
    border:none;
    border-radius: 4px;
}

.btnSearch{
    padding: 7px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    transition: 0.6s;
    background-color: rgba(236, 186, 20, 0.767);
    font-weight: bolder;
    cursor: pointer;
}

.btnSearch:hover{
    background-color: rgb(253, 194, 0);
    box-shadow: 1px 1px 10px 5px rgb(39, 39, 39);
}


